<div class="container">
    <div class="result grid-center">
        {{#if correct}}
            <p>Congrats! your answer was correct!</p>
        {{else}}
            <p>Your answer was wrong. The correct answer was "{{correctAnswer}}"</p>
        {{/if}}
        <form action="/" method="get">
            <input type="submit" value="Next Question">
        </form>
    </div>
</div>