<!DOCTYPE html>

<html>
    <head>
        <head>
            <meta name="viewport" content="width=device-width"/>
            <link rel="stylesheet" href="css/style.css"/>
    </head>

    <body>
        <div class="result">
            <% if(correct) { %>
                <p>Congrats! your answer was correct!</p>
            <% } else { %>
                <p>Your answer was wrong. The correct answer was "<%= correctAnswer %>"</p>
            <% } %>
            <form action="/" method="get">
                <input type="submit" value="Next Question">
            </form>
        </div>
    </body>
</html>