body {
    font-family: 'Open Sans', sans-serif;
    background-color: #111;
    font-size: 14px;
    color: #ccc;
    line-height: 1.5;
}

.container {
    background: #3c3c3c;
    padding: 50px;
    border: 5px solid black;
    border-radius: 10px;
    width: 800px;
    margin:auto;
}

#question {
    margin-bottom: 20px;
    border-left: 2px solid red;
    padding-left: 10px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}